<div layout="row">

    <div layout="column" class="relative" layout-fill role="main">

        <md-toolbar ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleLeft('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon style="fill: white" icon="menu"></ng-md-icon>
                </md-button>
                <ng-md-icon style="fill: black" icon="search"></ng-md-icon>
                <md-input-container class="md-block" flex>
                    <label>&nbsp;</label>
                    <input ng-model="search" placeholder="">
                </md-input-container>
            </div>

        </md-toolbar>

        <md-content classs="md-content-bg" flex>
            <ui-view layout-fill>
            </ui-view>
        </md-content>
    </div>

</div>