<div class="donor-main" layout="column">
    <div flex="30">
       <div layout="row" layout-align="center center">
            <div style="color:white;">
              <h1 class="md-display-3">¿Eres un?</h1>
            </div>
         
        </div>
    </div>
    <div flex="70" layout="column" layout-align="center center">
        
        <div layout="row" layout-xs="column" layout-align="center center">
            <div>
                
                <md-button ui-sref="donor-register" class="md-raised md-primary md-button-large">Registrarse</md-button>
            </div>
            <div>
                <md-button ng-click="requestPinta()" class="md-raised md-warn md-button-large">Alerta de pinta</md-button>
            </div>
        </div>
    </div>
</div>