<div layout="row">
	<div flex="40" layout="column">
		<div class="checkIns-container">
			<md-card ng-repeat="donor in donors | filter:search" md-theme="default" md-theme-watch>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{donor.name}} {{donor.lastname}}</span>
						<span class="md-subhead">Address: {{ donor.address }}</span>
						<span class="md-subhead">Gender: {{ donor.gender }}, Age: {{ donor.age }}</span>
						<span class="md-subhead">Weight: {{ donor.weight }}, Blood Type: {{ donor.bloodtype }}</span>
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-sm card-media">
							<img class="md-user-avatar" src="{{ donor.gender == 'F' ? genderFemale : genderMale }}" />
						</div>
					</md-card-title-media>
				</md-card-title>
				<!--<md-card-actions layout="row" layout-align="end center">
          <md-button >View on map</md-button>
        </md-card-actions>-->
			</md-card>
		</div>
	</div>
	<div flex class="container-map">
		<ui-gmap-google-map options="map.options" control="map.control" center='map.center' zoom='map.zoom'>
			<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</div>